@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  background-color: #000;
  color: #777;
}

::selection {
  color: #fff;
  background-color: #2ecc71;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  color: #2ecc71;
  text-align: center;
  animation: rightToLeft 1s ease-in-out;
}

.heading-primary span {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 3.5rem;
    animation: bottomToTop 1s ease-in-out;
  }
  .heading-primary span {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 2.7rem;
  }
  .heading-primary span {
    font-size: 1.7rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.heading-secondary::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.2rem;
  margin: 0 auto 0.5rem auto;
  background-color: #2ecc71;
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.heading-four {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.heading-five {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #2ecc71;
}

.paragraph {
  font-size: 1.8rem;
}

.u-contenedor {
  max-width: 120rem !important;
  width: 95%;
  margin: 0 auto !important;
}

.u-text-center {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-flex {
  display: flex impo !important;
}

.about {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  .about {
    flex-direction: column;
  }
}

.about__item {
  flex: 0 0 calc(50% - 2rem);
}

@media only screen and (max-width: 56.25em) {
  .about__item:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.about__presentacion {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
}

.about__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media only screen and (max-width: 75em) {
  .about__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__gallery-item {
  position: relative;
  padding: 3rem;
  overflow: hidden;
  text-align: center;
  border-bottom: 3px solid transparent;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.about__gallery-item:hover {
  border-bottom: 3px solid #2ecc71;
}

@media only screen and (max-width: 75em) {
  .about__gallery-item:hover {
    border-bottom: 3px solid transparent;
  }
}

.about__gallery-icon {
  font-size: 5rem;
  transition: all 0.3s ease;
}

.about__gallery-tecnology {
  position: absolute;
  left: 50%;
  bottom: 0.3rem;
  font-size: 1.3rem;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 75em) {
  .about__gallery-tecnology {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.about__gallery-item:hover .about__gallery-icon,
.about__gallery-item:hover .about__gallery-tecnology {
  color: #2ecc71;
}

@media only screen and (max-width: 75em) {
  .about__gallery-item:hover .about__gallery-icon,
  .about__gallery-item:hover .about__gallery-tecnology {
    color: #777;
  }
}

.about__gallery-item:hover .about__gallery-icon {
  transform: translateY(-1rem);
}

@media only screen and (max-width: 75em) {
  .about__gallery-item:hover .about__gallery-icon {
    transform: translateY(0);
  }
}

.about__gallery-item:hover .about__gallery-tecnology {
  transform: translate(-50%, 0);
  opacity: 1;
}

.button, .button:link, .button:visited {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #28b062;
  transform: translateY(-0.5rem) scale(1.05);
}

.button:active {
  transform: translateY(0) scale(1);
}

.button--primario {
  background-color: #2ecc71;
}

.button__icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
}

.btn {
  position: fixed;
  bottom: 0;
  right: 3.5rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.btn:hover, .btn:active {
  background-color: #28b062;
}

.btn--active {
  opacity: 1;
  bottom: 3.5rem;
}

.btn--up {
  background-color: #2ecc71;
}

.btn__icon {
  font-size: 2rem;
}

.boton, .boton:link, .boton:visited {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.boton:not(:last-child), .boton:link:not(:last-child), .boton:visited:not(:last-child) {
  margin-right: 0.4rem;
}

.boton:hover, .boton:active {
  background-color: #28b062;
}

.boton__icon {
  margin-right: 0.5rem;
  font-size: 1.6rem;
}

.certificados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .certificados {
    grid-template-columns: repeat(1, 1fr);
  }
}

.certificados__item:first-child {
  grid-column: 1 / -1;
}

.certificados__photo {
  width: 100%;
  border-radius: 1rem;
}

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .contacto {
    flex-direction: column;
  }
}

.contacto__item {
  flex: 0 0 calc(25% - 1rem);
  text-align: center;
  background-color: #111;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 37.5em) {
  .contacto__item {
    flex: 1;
  }
  .contacto__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.contacto__link, .contacto__link:link, .contacto__link:visited {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.contacto__link:hover, .contacto__link:active {
  color: #fff;
}

@media only screen and (max-width: 75em) {
  .contacto__link:hover, .contacto__link:active {
    color: #777;
  }
}

.contacto__icon {
  font-size: 4rem;
}

.portafolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 75em) {
  .portafolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 56.25em) {
  .portafolio {
    grid-template-columns: repeat(1, 1fr);
  }
}

.portafolio__item {
  position: relative;
  background-color: #777;
  border-bottom: 3px solid #000;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.portafolio__item:nth-child(1) {
  grid-column: 1 / -1;
}

.portafolio__photo {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
}

.portafolio__caption {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(0, 100%);
  opacity: 0;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 75em) {
  .portafolio__caption {
    position: relative;
    width: auto;
    height: auto;
    padding: 2rem 0;
    background-color: #111;
    transform: translate(0, 0);
    opacity: 1;
  }
}

.portafolio__proyecto {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  color: #2ecc71;
}

.portafolio__descripcion {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.portafolio__item:hover {
  border-bottom: 3px solid #2ecc71;
}

@media only screen and (max-width: 75em) {
  .portafolio__item:hover {
    border-bottom: 3px solid #000;
  }
}

.portafolio__item:hover .portafolio__photo {
  transform: scale(1.05);
}

@media only screen and (max-width: 75em) {
  .portafolio__item:hover .portafolio__photo {
    transform: none;
  }
}

.portafolio__item:hover .portafolio__caption {
  transform: translate(0, 0);
  opacity: 1;
}

@media only screen and (max-width: 75em) {
  .portafolio__item:hover .portafolio__caption {
    transform: none;
    opacity: 1;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services__item {
  padding: 4rem;
  text-align: center;
  border-bottom: 3px solid transparent;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.services__item:hover, .services__item:active {
  border-bottom: 3px solid #2ecc71;
}

@media only screen and (max-width: 75em) {
  .services__item:hover, .services__item:active {
    border-bottom: 3px solid transparent;
  }
}

.services__icon {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
}

.services__item:hover .services__icon {
  color: #2ecc71;
}

@media only screen and (max-width: 75em) {
  .services__item:hover .services__icon {
    color: inherit;
  }
}

.footer {
  padding: 4rem 0;
  background-color: #000;
}

.footer__copy span {
  display: block;
  font-size: 1.4rem;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/banner-medium.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 37.5em) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/banner-small.jpg);
  }
}

@media only screen and (min-width: 112.5em) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/banner-big.jpg);
  }
}

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 75em) {
  .header__content {
    flex-direction: column;
  }
}

.header__photo {
  display: block;
  width: 18rem;
  height: 18rem;
  margin-right: 2.5rem;
  border-radius: 50%;
  animation: leftToRight 1s ease-in-out;
}

@media only screen and (max-width: 75em) {
  .header__photo {
    margin-right: 0;
    margin-bottom: 2.5rem;
    animation: topToBottom 1s ease-in-out;
  }
}

.nav {
  padding: 3rem;
  transition: all 0.3s ease;
}

.nav__logo {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.nav__logo span {
  font-weight: 400;
  color: #2ecc71;
}

.nav__list {
  display: flex;
  list-style: none;
}

@media only screen and (max-width: 75em) {
  .nav__list {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease;
  }
  .nav__list--active {
    left: 0;
  }
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

@media only screen and (max-width: 75em) {
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
}

.nav__link, .nav__link:link, .nav__link:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.nav__link:hover, .nav__link:active {
  color: #2ecc71;
}

.nav__menu {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 1500;
}

@media only screen and (max-width: 75em) {
  .nav__menu {
    display: block;
  }
}

.nav__icon {
  position: relative;
}

.nav__icon, .nav__icon::before, .nav__icon::after {
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  transition: all 0.3s ease;
}

.nav__icon::before, .nav__icon::after {
  content: '';
  position: absolute;
  left: 0;
}

.nav__icon::before {
  top: 0.8rem;
}

.nav__icon::after {
  top: -0.8rem;
}

.nav__icon--active {
  background-color: transparent;
}

.nav__icon--active::before, .nav__icon--active::after {
  top: 0;
}

.nav__icon--active::before {
  transform: rotate(-135deg);
}

.nav__icon--active::after {
  transform: rotate(135deg);
}

.nav--sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 1.5rem;
  background-color: #000;
}

.nav .u-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  padding: 8rem 0 0 0;
  background-color: #000;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@media only screen and (max-width: 75em) {
  .section {
    padding: 6rem 0;
  }
}
